@{
    ViewData["Title"] = "Q&A";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/fonts/boxicons.css" />

<div class="value-container container-fluid mt-4" style="background-color: #F8F9FA;">
            <div class="container py-4">
                <h2 class="text-primary text-uppercase text-center mb-4">Q&A</h2>
                <div class="row">
                    <div class="col-md-12 col-lg-12 mb-2" data-bs-toggle="collapse" data-bs-target="#Q1">
                        <div class="team-item mb-2">
                            <div class="bg-theme p-4" style="cursor: pointer;">
                                <h5>How to register an account on the website?</h5>
                                <p id="Q1" class="collapse m-0">To register an account on the website, you can find and click the 
                                    "Register" button on the homepage or login page of the website. You will then be asked to fill out 
                                    a registration form with necessary personal information, such as name, gender, email and password. 
                                    Complete the form and follow the instructions to complete account registration.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 mb-2" data-bs-toggle="collapse" data-bs-target="#Q2">
                        <div class="team-item mb-2">
                            <div class="bg-theme p-4"  style="cursor: pointer;">
                                <h5>I forgot my password, how do I recover it?</h5>
                                <p id="Q2" class="collapse m-0">To recover your password when you forget it, find and click the "Forgot password"
                                     link on the login page. The website will ask you to enter the email address you used to register your account. 
                                     After submitting your request, check your inbox for a password recovery email. Follow the instructions in the 
                                     email to reset a new password for your account.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 mb-2" data-bs-toggle="collapse" data-bs-target="#Q3">
                        <div class="team-item mb-2">
                            <div class="bg-theme p-4"  style="cursor: pointer;">
                                <h5>I need technical support, how do I contact the technical support team?</h5>
                                <p id="Q3" class="collapse m-0">To contact the technical support team, go to the "Contact" section of the website, 
                                    which provides a contact form via technical support email. Submit a request or contact the information provided to 
                                    receive support from the technical team.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 mb-2" data-bs-toggle="collapse" data-bs-target="#Q4">
                        <div class="team-item mb-2">
                            <div class="bg-theme p-4"  style="cursor: pointer;">
                                <h5>How to search and enroll in a course?</h5>
                                <p id="Q4" class="collapse m-0">To search for and enroll in a course, you can use the course name search tool on the website. 
                                    Search using keywords of interest, then look through the results to find the right course. Once you have selected the course 
                                    you want to take, click the "Enroll" button and follow the instructions to complete the registration process.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 mb-2" data-bs-toggle="collapse" data-bs-target="#Q5">
                        <div class="team-item mb-2">
                            <div class="bg-theme p-4"  style="cursor: pointer;">
                                <h5>Can I access my account and learning content on mobile devices?</h5>
                                <p id="Q5" class="collapse m-0">No, currently the website can only be used on online teaching websites. The latest update will be available 
                                    to be used to access accounts and learning content on mobile devices in the near future.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 mb-2" data-bs-toggle="collapse" data-bs-target="#Q6">
                        <div class="team-item mb-2">
                            <div class="bg-theme p-4"  style="cursor: pointer;">
                                <h5>Can I provide assessment and feedback on the course after completion?</h5>
                                <p id="Q6" class="collapse m-0">Yes, currently online teaching websites allow learners to make assessments and feedback about the course after 
                                    completion. After you complete the course, you can rate it and write feedback. You can share your experiences, rate the course and provide 
                                    feedback to help improve the course and support other learners.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 mb-2" data-bs-toggle="collapse" data-bs-target="#Q7">
                        <div class="team-item mb-2">
                            <div class="bg-theme p-4"  style="cursor: pointer;">
                                <h5>How do I track my progress in the course?</h5>
                                <p id="Q7" class="collapse m-0">To track your progress in the course, the online teaching site provides a place where you can view your progress. 
                                    This could include a personal dashboard, a personal learning page, or a course management section. You can view them at "My Profile".</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Values End -->